@import url(http://fonts.googleapis.com/css?family=Sintony);
html, body {
	background: #232323;
	color: #ddd;
	font-family:'Sintony', sans-serif;
	margin:0;
	padding:0;
}
a {
	color:#ff3;
}
a:hover {
	color:#aa3;
	text-decoration: none;
}
small {
    font-size:10px; color:#777;
}

#heading {
	margin-left:30px;
}
#sidebar {
	position:absolute;
	top:90px;
	margin-left:30px;
	line-height:1.3em;
	}
	#people {
		margin:0;
		padding:0;
	}
	#people li {
		margin:0;
		padding:0;
		list-style-type:none;
		text-transform: capitalize;
	}
	#info {
		border-top:1px solid #444;
    margin-top:2em;
    padding-top:2em;
    font-size:12px;
	}


#faces {
	list-style-type:none;
	margin-left:180px;
	padding:0;
	width:405px;
	height:540px;
}
	#faces li {
		float:left;
		width: 135px;
		height: 135px;
	}
		#faces li a {
			display:block;
			width:100%;
			height:100%;
		}
	#face {
		width: 405px;
		height: 540px;
		margin: 0 auto;
		position:absolute;
	}


#profile {
  position:absolute;
  top: 60px;
  left: 620px;
}
#profile h2 {
    text-transform:capitalize;
}
