/* style sheet */


		body{
			background :#ffffff ;
			color : #ffffff ;	
			font-family : sans-serif ;
			
		}
		.container {
			background : #000000 ;
			max-width : 800px ;
			margin : 0 auto ;
			padding : 30px ;
		}
		
		.profile {
			height : 400px ; 
			padding : 10px ;
		  	background : #59051D ;
		}
		
		.pic {
		  	float : left ;
		  	width : 200px ;
		  	margin-right : 30px ;
		}
		.bio {
		
		}
		
		
	