@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,900);

h1 {
	margin: 0;
	clear: both;
	margin-left: 10px;
	padding-top: 10px;
	
}

#section-1 p {
	text-align: center;
	position: relative;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	padding: 50px;
	width: 802px;
	height: 507px;
	color: aqua;
	background-color: gray;
	margin-top: 0px;
}

img.profile {
	float: left;
	width: 200px;
	height: auto;
}


#section-3 iframe {
	margin-left: 10px;
}
.logo {
	margin: 25px 10px;
	text-align: center;
	color: white;
	font-size: 35px;
	text-shadow: 1px 1px 1px #000, 3px 3px 5px grey;
	font-family: 'Raleway', sans-serif; 
	font-weight: 900;
}

nav {
	background-color: turquoise;
	width: 300px;
	height: 100%;
	position: fixed;
}

nav ul {
	margin-top: 45px;
}

nav li {
	margin-bottom: 2px;
	list-style-type: none;
	border-top-left: 50px;
}

nav a {
	background: whitesmoke;
	color: slategray;
	display: block;
	font-size: 25px;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
	border-top-left-radius: .5em;
	border-bottom-left-radius: .5em;
}

nav a:hover {
	background: #dedede;
}

nav .current a {
	background: slategray;
	color: whitesmoke;
	font-weight: bolder;
}

#content {
	margin-left: 300px;
	width: 1100px;
}

.section {
	height: 650px;
	width: 903px;
	border: 1px solid lightgrey;
	padding-top: 20px;
}

#container {
	width: 100%;
	max-width: 1200px;
	margin-top: 0px;
}

#section-2 {
	height: 722px;
}
